body{
	color: white;
	font-family: arial;
}
.wrapper{
	width: 100%;
}
.buttons{
    border-radius:5px;
	border:0px;
	padding:5px;
	width:100px;
	background:#088bdf;
	color:#fff;
	font-size:14px;
	cursor:pointer;
	font-family:arial;
	    height: 35px;
}

.buttons a:hover{
    border-radius:5px;
	border:0px;
	padding:5px;
	width:100px;
	background:green;
	color:#fff;
	font-size:14px;
	cursor:pointer;
	font-family:arial;
}
.search{
	margin-left: 10%;
	border-radius:0.5em;
	height:30px;
	padding-left:5px;
	font-family:arial;
}
.content{

  background: #fefefe;
  padding: 20px;
  border-radius: 1em;
  min-height: 500px;
}
.txt-fld{
	height: 50px;
	width: 300px;
	text-align:center;
}
.btn{
	padding: 5px 10px 5px 10px;
}
.pbtable{
	margin:0px;padding:0px;
	width:100%;	
	
}
.pbtable thead th{
	padding:7px;
	background:-o-linear-gradient(bottom, #337ab7 5%, #337ab7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, 
	color-stop(0.05, #337ab7), color-stop(1, #337ab7) );	
	background:-moz-linear-gradient( center top, #337ab7 5%, #003f7f 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#337ab7", 
	endColorstr="#337ab7");	
	background: -o-linear-gradient(top,#116600,116600);
	background-color:#337ab7;
	color:#ffffff;
}
.pbtable td{
	background: white;
	text-align: left;
	padding: 7px;
	font-size: 14px;
	font-family: arial;
	font-weight: normal;
	color: green;
}
a.link-btn {
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	background: #088bdf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #088bdf;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	background:-o-linear-gradient(bottom, #088bdf 5%, #088bdf 100%);	
	background:-webkit-gradient( linear, left top, left bottom, 
	color-stop(0.05, #088bdf), color-stop(1, #088bdf) );	
	background:-moz-linear-gradient( center top, #088bdf 5%, #088bdf 100% );
	display: block;
  width: 300px;
  font-family: arial;
  text-align: center;
  margin-left:29%;
  margin-bottom: 5px;
 }
 a.link-btn:hover{
    /*background: #356094;*/
    border: solid 1px #337ab7;
    text-decoration: none;	
	background:-o-linear-gradient(bottom, ##337ab7 5%, ##337ab7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, 
	color-stop(0.05, ##337ab7), color-stop(1, ##337ab7) );	
	background:-moz-linear-gradient( center top, ##337ab7 5%, ##337ab7 100% );
 }

 .add-question{
 }