

section.box {
    background-color: #ffffff;
    margin: 15px 0;
}

section.box.nobox {
    background-color: transparent;
}

section.box .actions {
    margin: 0 15px;
    line-height: 50px;
    position: absolute;
    right: 0px;
    top:0px;
}
section.box .actions i {
    color: #bcbcbc;
    font-size: 12px;
    margin-left: 0px;
    padding: 5px;
    cursor: hand;
    cursor: pointer;
}
section.box .actions i:hover {
    color: #999999;
}

section.box.transparent {
    background-color: transparent;
}



.sort_panel .panel_header {
    cursor: move;
}

@media (max-width: 680px) {
.profile .toggle span{display: none;}
.page-topbar .quick-area .info-menu li.profile img{right:0px;}
.page-topbar .quick-area .pull-left ul.info-menu{padding-right: 0px;}
.page-topbar .quick-area .pull-right ul.info-menu{padding-left: 0px;}
}


@media (max-width: 245px) {
.page-topbar .quick-area .pull-left{display: none;}
}


section header .title {
    margin-top: 10px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-left: 15px;
    line-height: 30px;
    color: #676767;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}
section .map-body {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}

.ui-grids .row .col-lg-1 .panel-body {
    padding: 11px;
}