/* --------------------------------------
=========================================
COLOR : BLUE 

MAIN COLOR CODE: #008ed6

DEEP COLOR CODE: #005885
=========================================
----------------------------------------- */
.colored-line {
  background: #008ed6;
}
.colored-text {
  color: #008ed6 !important;
}
.color-bg {
  background: #008ed6;
}
a {
  color: #008ed6;
}
.non-sticky .navbar-nav > li > a:hover {
  color: #008ed6;
}
.standard-button {
  background: #008ed6;
  color: #ffffff;
}
.standard-button:hover {
  color: #ffffff;
  background: #0186ca;
}
.secondary-button:hover {
  color: #008ed6;
  border-color: #008ed6;
}
.sticky-navigation .main-navigation .current a {
  color: #008ed6 !important;
}
.sticky-navigation .navbar-nav > li > a:hover {
  color: #008ed6;
}
.feature-list-1 li .icon-container {
  background: #008ed6;
}
.feature-list-2 li .icon-container {
  background: #008ed6;
}
.feature .icon {
  color: #008ed6;
}
.vertical-registration-form .input-box {
  border-top: 1px solid rgba(0, 142, 214, 0.4);
  border-bottom: 1px solid rgba(0, 142, 214, 0.4);
  border-right: 1px solid rgba(0, 142, 214, 0.4);
  border-left: 3px solid #008ed6;
}
.vertical-registration-form .input-box:focus,
.vertical-registration-form .input-box:active {
  border-color: #008ed6;
}
.subscription-form .input-box:focus,
.subscription-form .input-box:active {
  border-left: 3px solid #008ed6 !important;
}
.input-box:active,
.textarea-box:active,
.input-box:focus,
.textarea-box:focus {
  border-left: 3px solid #008ed6 !important;
}
.screenshots .owl-theme .owl-controls .owl-page span {
  background: #008ed6;
}
.contact-link {
  color: #008ed6;
}
.contact-link:hover {
  color: #005885;
}
.social-icons li a:hover {
  color: #008ed6;
}

.feature2-item .feature-icon{
  color: #008ED6;
}
.main .pricing-item-inner{
  border-color:#008ED6;
  border-color: #008ED6;
  background: #008ED6;
  color: #fff;
}
.pricing-icon{
  color: #008ED6;
}
.pricing-num{
  color: #008ED6;
}
.pr-per{
  color: #008ED6;
}
.testimonies .carousel-indicators .active {
  background-color: #008ED6;
}
.testimonies .carousel-indicators li{
    border: 1px solid #008ED6;
}