

.device-mockup {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
}

	.device-mockup > .device {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url("../homecss/devices/macbook.png");
	}

		.device-mockup > .device > .screen {
			position: absolute;
			top:    11.0438729%;
			bottom: 14.6747352%;
			left:   13.364486%;
			right:  13.364486%;
			overflow: hidden;
		}

		.device-mockup > .device > .button {
			position: absolute;
			top: 0; left: 0;
			display: none;
			overflow: hidden;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			cursor: pointer;
		}


/* DEVICES */


/* iMac */
.device-mockup[data-device="imac"] {
	padding-bottom: 81.230769%;
}

.device-mockup[data-device="imac"] > .device {
	background-image: url("../images/devices/imac.png");
}

.device-mockup[data-device="imac"] > .device > .screen {
	top: 8.20707071%; bottom: 31.6919192%; left: 6.61538462%; right: 6.61538462%;
}


/* MacBook Pro */
.device-mockup[data-device="macbook"] {
	padding-bottom: 61.775701%;
}

.device-mockup[data-device="macbook"] > .device {
	background-image: url("macbook.png");
}

.device-mockup[data-device="macbook"] > .device > .screen {
	top: 11.0438729%; bottom: 14.6747352%; left: 13.364486%; right: 13.364486%;
}


/* iPhone5 */
.device-mockup[data-device="iphone5"],
.device-mockup[data-device="iphone5"][data-orientation="portrait"] {
	padding-bottom: 200.477897%;
}

.device-mockup[data-device="iphone5"][data-orientation="landscape"] {
	padding-bottom: 49.9701136%;
}

.device-mockup[data-device="iphone5"] > .device,
.device-mockup[data-device="iphone5"][data-color="black"] > .device,
.device-mockup[data-device="iphone5"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/devices/iphone5_port_black.png");
}

.device-mockup[data-device="iphone5"][data-orientation="landscape"] > .device,
.device-mockup[data-device="iphone5"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/devices/iphone5_land_black.png");
}

.device-mockup[data-device="iphone5"][data-color="white"] > .device,
.device-mockup[data-device="iphone5"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/devices/iphone5_port_white.png");
}

.device-mockup[data-device="iphone5"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/devices/iphone5_land_white.png");
}

.device-mockup[data-device="iphone5"] > .device > .screen,
.device-mockup[data-device="iphone5"][data-orientation="portrait"] > .device > .screen {
	top: 16.28%; bottom: 16.28%; left: 11.77%; right: 11.77%;
}

.device-mockup[data-device="iphone5"][data-orientation="landscape"] > .device > .screen {
	top: 11.722488%; bottom: 11.722488%; left: 16.0191273%; right: 16.0191273%;
}

.device-mockup[data-device="iphone5"] > .device > .button,
.device-mockup[data-device="iphone5"][data-orientation="portrait"] > .device > .button {
	display: block;
	top: 86.3%; bottom: 5.5%; left:  42%; right: 42%;
}

.device-mockup[data-device="iphone5"][data-orientation="landscape"] > .device > .button {
	display: block;
	top: 42%; bottom: 42%; left:  86.4%; right: 5.1%;
}


/* iPad */
.device-mockup[data-device="ipad"],
.device-mockup[data-device="ipad"][data-orientation="portrait"] {
	padding-bottom: 128.406276%;
}

.device-mockup[data-device="ipad"][data-orientation="landscape"] {
	padding-bottom: 79.9086758%;
}

.device-mockup[data-device="ipad"] > .device,
.device-mockup[data-device="ipad"][data-color="black"] > .device,
.device-mockup[data-device="ipad"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/devices/ipad_port_black.png");
}

.device-mockup[data-device="ipad"][data-color="white"] > .device,
.device-mockup[data-device="ipad"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/devices/ipad_port_white.png");
}

.device-mockup[data-device="ipad"][data-orientation="landscape"] > .device,
.device-mockup[data-device="ipad"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/devices/ipad_land_black.png");
}

.device-mockup[data-device="ipad"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/devices/ipad_land_white.png");
}

.device-mockup[data-device="ipad"] > .device > .screen,
.device-mockup[data-device="ipad"][data-orientation="portrait"] > .device > .screen {
	top: 12.025723%; bottom: 12.154341%; left: 13.45995%; right: 13.45995%;
}

.device-mockup[data-device="ipad"][data-orientation="landscape"] > .device > .screen {
	top: 13.87755102%; bottom: 13.87755102%; left: 11.5459883%; right: 11.5459883%;
}

.device-mockup[data-device="ipad"] > .device > .button,
.device-mockup[data-device="ipad"][data-orientation="portrait"] > .device > .button {
	display: block;
	top: 90.2%; bottom: 5.5%; left: 47.3%; right: 47.3%;
}

.device-mockup[data-device="ipad"][data-orientation="landscape"] > .device > .button {
	display: block;
	top: 47.3%; bottom: 47.3%; left: 90.8%; right: 4.9%;
}


/* Galaxy S3 */
.device-mockup[data-device="s3"],
.device-mockup[data-device="s3"][data-orientation="portrait"] {
	padding-bottom: 178.787879%;
}

.device-mockup[data-device="s3"][data-orientation="landscape"] {
	padding-bottom: 55.9322034%;
}

.device-mockup[data-device="s3"] > .device,
.device-mockup[data-device="s3"][data-color="black"] > .device,
.device-mockup[data-device="s3"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/devices/s3_port_black.png");
}

.device-mockup[data-device="s3"][data-orientation="landscape"] > .device,
.device-mockup[data-device="s3"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/devices/s3_land_black.png");
}

.device-mockup[data-device="s3"][data-color="white"] > .device,
.device-mockup[data-device="s3"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/devices/s3_port_white.png");
}

.device-mockup[data-device="s3"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/devices/s3_land_white.png");
}

.device-mockup[data-device="s3"] > .device > .screen,
.device-mockup[data-device="s3"][data-orientation="portrait"] > .device > .screen {
	top: 12.3728814%; bottom: 15.5367232%; left: 13.8383838%; right: 13.8383838%;
}

.device-mockup[data-device="s3"][data-orientation="landscape"] > .device > .screen {
	top: 13.8383838%; bottom: 13.8383838%; left: 12.3728814%; right: 15.5367232%;
}


/* Lumia 920 */
.device-mockup[data-device="lumia920"],
.device-mockup[data-device="lumia920"][data-orientation="portrait"] {
	padding-bottom: 172.796353%;
}

.device-mockup[data-device="lumia920"][data-orientation="landscape"] {
	padding-bottom: 56.3330381%;
}

.device-mockup[data-device="lumia920"] > .device,
.device-mockup[data-device="lumia920"][data-orientation="portrait"] > .device {
	background-image: url("../images/devices/lumia920_port.png");
}

.device-mockup[data-device="lumia920"][data-orientation="landscape"] > .device {
	background-image: url("../images/devices/lumia920_land.png");
}
.device-mockup[data-device="lumia920"] > .device > .screen,
.device-mockup[data-device="lumia920"][data-orientation="portrait"] > .device > .screen {
	top: 10.6420405%; bottom: 18.9973615%; left: 13.5258359%; right: 13.5258359%;
}

.device-mockup[data-device="lumia920"][data-orientation="landscape"] > .device > .screen {
	top: 12.2641509%; bottom: 12.2641509%; left: 10.5403012%; right: 18.6005314%;
}


/* Nexus 7 */
.device-mockup[data-device="nexus7"],
.device-mockup[data-device="nexus7"][data-orientation="portrait"] {
	padding-bottom: 156.521739%;
}

.device-mockup[data-device="nexus7"][data-orientation="landscape"] {
	padding-bottom: 63.6678201%;
}

.device-mockup[data-device="nexus7"] > .device,
.device-mockup[data-device="nexus7"][data-orientation="portrait"] > .device {
	background-image: url("../images/devices/nexus7_port.png");
}

.device-mockup[data-device="nexus7"][data-orientation="landscape"] > .device {
	background-image: url("../images/devices/nexus7_land.png");
}

.device-mockup[data-device="nexus7"] > .device > .screen,
.device-mockup[data-device="nexus7"][data-orientation="portrait"] > .device > .screen {
	top: 13.1365741%; bottom: 12.7893519%; left: 13.7681159%; right: 13.7681159%;
}

.device-mockup[data-device="nexus7"][data-orientation="landscape"] > .device > .screen {
	top: 13.7681159%; bottom: 13.7681159%; left: 13.0911188%; right: 13.0911188%;
}


/* Microsoft Surface */
.device-mockup[data-device="surface"],
.device-mockup[data-device="surface"][data-orientation="landscape"] {
	padding-bottom: 64.7584973%;
}

.device-mockup[data-device="surface"] > .device,
.device-mockup[data-device="surface"][data-orientation="landscape"] > .device {
	background-image: url("../images/devices/surface.png");
}

.device-mockup[data-device="surface"] > .device > .screen,
.device-mockup[data-device="surface"][data-orientation="landscape"] > .device > .screen {
	top: 14.5488029%; bottom: 14.9171271%; left: 9.36195587%; right: 9.36195587%;
}