
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);

/* --------------------------------------
=========================================
   2. GLOBAL STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   2.1 GENERAL STYLES                
-----------------------------------------*/

html {
	font-size: 100%;
}

body {
	background: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #727272;
	line-height: 25px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}

/*---------------------------------------
   2.2 PRE LOADER              
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

/*---------------------------------------
   2.3 ANCHOR AND BOLD TEXT           
-----------------------------------------*/
a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: inherit;
	color: inherit;
}

strong {
	font-weight: 700;
}

.strong {
	font-weight: 700;
}


/*---------------------------------------
   2.4 MISC FIXES         
-----------------------------------------*/
@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------------------------------
=========================================
   3. COMPONENTS 
=========================================
-----------------------------------------*/

/*---------------------------------------
   3.1 BACKGROUND COLORS AND LINE               
-----------------------------------------*/

.dark-bg {
	background: #323232;
	color: #ffffff;
}

.color-bg {
	color: #ffffff;
}

.bgcolor-2 {
	background: #EEE;
}

.bgcolor-white {
	background: #ffffff;
}

.colored-line {
	height: 1px;
	width: 70px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*---------------------------------------
   3.2 TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: #323232;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 2.813rem;
	line-height: 3.75rem;
	font-weight: 400;
}

h2 {
	font-size: 2.188rem;
	line-height: 3.125rem;
	font-weight: 400;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.375rem;
	font-weight: 400;
}

h4 {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}

h6 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
}


/*---------------------------------------
   3.3 BUTTONS               
-----------------------------------------*/
.btn:focus,
.btn:active,
.btn,
.open .dropdown-toggle.btn {
	outline: inherit;
	border-color: inherit;
}

.standard-button {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	background-color:#088bd7;
	color:#ffffff;
}

.secondary-button {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #323232;
	background: #ffffff;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 14px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #ffffff;
	background: transparent;
	line-height: inherit;
	border: 1px solid rgba(255,255,255,0.5)
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white:hover {
    border: 1px solid rgba(255,255,255,1);
    color: #ffffff;
}

/* --------------------------------------
=========================================
   4. SECTION SPECIFIC CSS
=========================================
-----------------------------------------*/

/*---------------------------------------
   4.1 SECTIONS PADDING AND COLOR OVERLAY                
-----------------------------------------*/
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.color-overlay {
	background: rgba(0, 0, 0, 0.6);
}


/*========================================
   4.2 SECTION: HOME                
==========================================*/

/*---------------------------------------
   4.2.1 BASIC STYLES               
-----------------------------------------*/
header {
	background: url(../homecss/bg-image-1.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

header .vertical-registration-form {
	margin-top: 60px;
}

header .home-screenshot {
    margin-top: 60px;
}

.navigation-header {
	padding-top: 47px;
	padding-bottom: 30px;
}

.intro-section {
	margin-top: 65px;
	margin-bottom: 137px;
}


.intro {
	color: #ffffff;
	text-transform: uppercase;
}

.intro-section .sub-heading {
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
}

.button-container {
    margin-top: 40px;
    margin-bottom: 25px;
}

.button-container .standard-button {
    margin-left: 0;
}

.navbar-header img {
	max-height: 26px;
}


/*---------------------------------------
   4.2.2 NAVIGATION                
-----------------------------------------*/
/* NAV RESETS */
.navbar-nav > li > a:hover {
	background: inherit;
}

/* NORMAL NAVIGATION WITH SOCIAL ICON AND LOGO ONLY */
.non-sticky .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.non-sticky .navbar-nav > li > a {
	font-size: 25px;
	padding: 0;
	padding-left: 5px;
	padding-top: 3px;
	color: #ffffff;
}


/* STICKY NAVIGATION */
.sticky-navigation {
	min-height: 75px;
	background: #ffffff;
	-webkit-backface-visibility: hidden;
	border: 0;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header {
	padding-top: 8px;
}

.sticky-navigation .main-navigation {
	padding-top: 13px;
}

.sticky-navigation .main-navigation .current a {
	-webkit-backface-visibility: hidden;
	outline: inherit;
	position: relative;
}

.sticky-navigation .navbar-nav > li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: #323232;
}


/*========================================
   4.3 SECTION WITH LEFT / RIGHT SCREENSHOT             
==========================================*/
/*---------------------------------------
   4.3.1 BASIC STYLES               
-----------------------------------------*/
.side-screenshot,
.side-screenshot2 {
	max-width: 532px;
}

.brief h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.brief p {
	margin-top: 45px;
}

/*---------------------------------------
   4.3.2 FEATURE LIST               
-----------------------------------------*/

.feature-list-2 {
	margin-top: 25px;
}

.feature-list-2 li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.feature-list-2 li .icon-container {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: #ffffff;
	line-height: 32px;
	margin-right: 15px;
	margin-top: 5px;
	text-align: center;
}

.feature-list-2 li .details {
	width: 89%;
}

.feature-list-2 li .details p {
	margin-top: 5px;
}


/*========================================
   4.4 SECTION: FEATURES                
==========================================*/
.features {
	margin-top: 35px;
}

.feature {
	margin-top: 40px;
	margin-bottom: 35px;
}

.feature .icon {
	font-size: 50px;
	margin-bottom: 30px;
}

.feature h4 {
	margin-bottom: 10px;
}

.feature2{
	padding:105px 0 103px;
}
.feature-image img{
    max-width: 100%;
	width: 100%;
}
.feature2-heading{
	text-align:center;
	margin-bottom:82px;
}
.feature2-heading h1{
	margin-bottom:20px;
}
.feature2-item li{
	list-style:none;
	padding-left:70px;
	position:relative;
	padding-top:32px;
	text-align: left;
}

.feature2-item li{
	padding-bottom:44px;
}
.feature2-item li h3{
	margin-bottom:12px;
}
.feature2-item .feature-icon{
	position:absolute;
	width:68px;
	font-size: 50px;
	left:0;
	text-align:left;
}
.feature-image{
	text-align:center;
}
.feature-text {
    text-align: left;
}

/*========================================
   4.5 SECTION: PRICING TABLE               
==========================================*/
.pricing-box{
padding-top: 100px;
}
.pricing-item{
	margin: 0 0 30px;
	position: relative;
	text-align: center;
}
.pricing-item-inner{
	border: 1px solid #eaeaea;
	vertical-align: middle;
	
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.pricing-item-inner .pricing-wrap{
  padding-left: 0;
  padding-right: 0;
}
.pricing-item-inner:hover{
	border-color: #aaa;
}
.main .pricing-item-inner{
	color: #fff;
}

.pricing-wrap{
	position: relative;
    
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
	padding: 30px 20px;
	text-align: center;
	overflow: hidden;
}

.main .pricing-icon{
    padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	font-size: 32px;
	z-index: 1;
	color: #fff;
}
.pricing-icon{
    padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	font-size: 32px;
	z-index: 1;
}
.pricing-title{
	position: relative;
	margin-bottom: 40px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}
.pricing-item .pricing-features .sf-list{
    margin: 0 -20px 30px;
    padding: 0;
	color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;	
    letter-spacing: 2px;
}
.pricing-item .pr-list{
    margin: 0 -20px 30px;
    padding: 0;
	color: #777;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;	
    letter-spacing: 2px;
}

.pr-list li{
	padding: 12px 20px;
	list-style: none;
	border-bottom: 1px solid #f1f1f1;
}
.pr-list li:first-child{
	border-top: 1px solid #f1f1f1;
}
.main .pricing-num{
	font-size: 40px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
}
.pricing-num{
	font-size: 40px;
	font-weight: 400;
	line-height: 1;
}
.pricing-num sup{
    font-size: 18px;
	font-weight: 400;
	position: relative;
	top: -20px;
	left: -3px;
	margin-left: -7px;
}
.pr-button{
    margin: 20px -20px 0;
    padding-top: 30px;
}
.main .pr-per{
    color: #fff;
    font-size: 12px;
	text-transform: capitalize;
}
.pr-per{
    font-size: 12px;
	text-transform: capitalize;
}

/*========================================
   4.6 SECTION: VIDEO              
==========================================*/
/*---------------------------------------
   4.6.1 BASIC STYLE / RESET         
-----------------------------------------*/
video {
	max-width: 100%;
	height: auto;
}

iframe,
embed,
object {
	max-width: 100%;
}

.video-container {
	width: 100%;
	background: #ffffff !important;
	margin-top: 75px;
}

.video {
	background: #ffffff !important;
}


/*---------------------------------------
   4.6.2 VIDEO FEATURES         
-----------------------------------------*/
.video-features {
	margin-top: 40px;
}

.video-features .inline-icon {
	padding-right: 5px;
}


/*========================================
   4.7 SECTION: SCREENSHOTS              
==========================================*/
.screenshots {
	margin-top: 68px;
}

.shot {
	margin: 10px;
	border-radius: 3px;
	border: 5px solid #ffffff;
}

.shot img {
	max-width: 100%;
	width: 100%;
}

.shot img:hover {
	cursor: crosshair;
	opacity: 0.8;
}


/*========================================
   4.8 SECTION: CLIENTS AND FEEDBACKS              
==========================================*/
/*---------------------------------------
   4.8.1 CLIENTS LOGO        
-----------------------------------------*/
.clients {
	margin-top: 35px;
}

.client-logos li {
	display: inline-block;
	vertical-align: middle;
	margin: 15px;
}

/*---------------------------------------
   4.8.2 FEEDBACKS        
-----------------------------------------*/
.testimonies{
	margin-top: 68px;
}
.testimonies .carousel-indicators .active {
    margin: 0px;
    width: 12px;
    height: 12px;
}
.testimonies .carousel-indicators {
    bottom: 0px;
}

.testimonials .user-thumb {
	border: 1px solid #ff6445;
	background: #ffffff;
}
.testimonies .post{
	padding-bottom: 20px;
}
.testimonials blockquote:before,
.testimonials blockquote:after {
	color: #ff6445;;
}
.testimonials .info-text small:before,
.testimonials .info-text .small:before {
	border-top: 1px solid #ff6445;;
}
.testimonials .user-thumb {
	margin: 0 10px;
	padding: 3px;
	position: relative;
	z-index: 1;
}
.testimonials blockquote {
	border: none;
	margin: 0;
	padding: 10px 30px;
	font-style: italic;
	quotes: "\201C" "\201D";
}
.testimonials blockquote p {
	display: inline;
}
.testimonials blockquote:before,
.testimonials blockquote:after {
	font-family: Georgia, serif;
	font-size: 4em;
	line-height: 0.1em;
}
.testimonials blockquote:before {
	margin-right: 0.25em;
	vertical-align: -0.4em;
	content: open-quote;
}
.testimonials blockquote:after {
	margin-left: 0.15em;
	vertical-align: -0.6em;
	content: close-quote;
}
.testimonials .post-info {
	white-space: nowrap;
	padding-bottom: 1px;
}
.testimonials .info-text {
	display: block;
	padding: 30px 0;
}
.testimonials .info-text small,
.testimonials .info-text .small {
	display: block;
	font-size: 75%;
}
.testimonials .info-text small:before,
.testimonials .info-text .small:before {
	content: "";
	display: block;
	height: 1px;
}

/*========================================
   4.9 SECTION: CALL TO ACTION              
==========================================*/
/*---------------------------------------
   4.9.1 CALL TO ACTION WITH TEXT/BUTTON          
-----------------------------------------*/
.cta-section {
	background: url(../homecss/bg-image-2.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.cta-section h4 {
	color: #ffffff;
}

.cta-section h2 {
	color: #ffffff;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 40px;
}

.cta-section h3 {
	color: #ffffff;
}

.cta-section .color-overlay {
	padding-top: 125px;
	padding-bottom: 125px;
}

/*---------------------------------------
   4.9.2 SUBSCRIBE FORM           
-----------------------------------------*/
.subscribe-section {
	margin-top: 75px;
}

.subscription-form .input-box {
	width: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 55px;
	border-radius: 3px;
	font-size: 16px;
	color: #000000;
	box-shadow: inherit;
}

.subscription-success,
.subscription-error {
    color: #FFFFFF;
}

/*========================================
   4.10 SECTION: CONTACT US             
==========================================*/
/*---------------------------------------
   4.10.1 BASIC STYLES        
-----------------------------------------*/
.contact-us {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contact-us .heading {
	margin-bottom: 10px;
}

.contact-link {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
}

.contact-link:hover {
	text-decoration: none;
}

.contact-link span {
	margin-right: 10px;
}


/*---------------------------------------
   4.10.2 CONTACT FORM        
-----------------------------------------*/
.contact-form {
	margin-top: 25px;
}

.contact-form .success,
.contact-form .error {
	display: none;
}

.contact-form .input-box,
.contact-form .textarea-box {
	margin-bottom: 15px;
	margin-top: 15px;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	color: #727272;
	padding-left: 12px;
	font-size: inherit;
	line-height: auto;
}

.contact-form .input-box {
	min-height: 50px;
}

.contact-form .textarea-box {
	min-height: 200px;
	-webkit-backface-visibility: hidden;
}

.contact-form .input-box:active,
.contact-form .textarea-box:active,
.contact-form .input-box:focus,
.contact-form .textarea-box:focus {
	color: #323232;
}

.contact-form .btn {
	margin-top: 25px;
}


/*========================================
   4.11 SECTION: FOOTER             
==========================================*/
footer {
	padding-top: 75px;
	padding-bottom: 75px;
}

.footer-logo {
	max-width: 180px;
	margin: auto;
}

.copyright {
	margin-top: 15px;
	margin-bottom: 15px;
}

.social-icons li {
	display: inline;
	margin: 2px;
}

.social-icons li a {
	font-size: 25px;
	color: #919191;
}

.social-icons li a:hover {
	text-decoration: none;
}

/*---------------------------------------
   DEMO THEME SWITCHER
-----------------------------------------*/

#theme-switcher{
	position:fixed;
	top:20%;
	left:0px;
	width:auto;
	height:297px;
	padding:0;
	background-color:#22272e;
	z-index:99999
}
#toggle-wrap{
	display:none;
	width:40px;
	height:50px;
	padding:5px
}
#skin-1{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#008ed6;
	cursor:pointer
}
#skin-2{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#0196a7;
	cursor:pointer
}
#skin-3{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#00ab66;
	cursor:pointer
}
#skin-4{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#ea8825;
	cursor:pointer
}
#skin-5{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#8600c8;
	cursor:pointer
}
#skin-6{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#f25454;
	cursor:pointer
}
#skin-7{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#6b798f;
	cursor:pointer
}
#skin-8{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	background-color:#e4d20c;
	cursor:pointer
}
#skin-toggle{
	position:absolute;
	display:block;
	top:0;
	right:-50px;
	width:50px;
	height:50px;
	padding:0;
	border-radius:0 10px 10px 0;
	font-size:30px;
	line-height:55px;
	text-align:center;
	background-color:#22272e;
	color:#fff;
	cursor:pointer
}
#skin-toggle:hover{
	color:#fff
}