body,html{padding:0 margin:0}#biginsights_body{z-index:9998;position:fixed;margin:auto;height:120px;width:120px;display:block;background:url(http://biginsights.io/ext/bss/images/marker.png);bottom:0;right:0}* html #biginsights_body{position:absolute}